
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #F8F9FA;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

header {
  width: fit-content;
  text-align: left;
  
}

header img {
  display: block;
  width: 300px;
}

header p {
  width: 300px;
  margin-top: 0.5rem;
  color: #fe0100;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 200;
  letter-spacing: .3em;
}

main {
  width: min(500px, 100%);
  margin: auto;
  text-align: center;
 
}


  main > p {
  line-height: 1.6;
  letter-spacing: .23em;
  max-width: 450px;
  margin: 0 auto 1rem;
  font-size: 14px;
  font-weight: 400 ;
}


.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  body {
    align-items: center;
  }

  header {
    text-align: center;
  }
}